<h1>Welcome, <%= current_user.username %>!</h1>

<h3>Movies Collection</h3>
<a href="/movies/new">Add a Movie</a>
<ul>
    <% @user.movies.each do |movie| %>
        <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a>
            <form action="/movies/<%= movie.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" name="delete" id="<%= movie.id %>" value="Delete">
            </form></li>
    <% end %>
</ul>
