<form action="/games/<%= @game.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="game[title]">Game Title: </label>
    <input type="text" name="game[title]" value="<%= @game.title %>"><br>
    <label for="game[release_year]">Release Year: </label>
    <input type="text" name="game[release_year]" value="<%= @game.release_year %>"><br>
    <label for="game[company]">Director: </label>
    <input type="text" name="game[company]" value="<%= @game.company %>"><br>
    <label for="game[console]">Console: </label>
    <input type="text" name="game[console]" value="<%= @game.console %>"><br>
    <label for="game[genre]">Genre: </label>
    <input type="text" name="game[genre]" value="<%= @game.genre %>"><br>
    <br>
    <input type="submit" name="update" value="Update Game">
</form>
